<section>
  <div class="page-header">
    <h1>
      Tutorials
      <a class="btn btn-primary pull-right" data-ui-sref="admin.tutorial.create">
        <i class="glyphicon glyphicon-plus"></i>
      </a>
    </h1>
  </div>
  <div class="list-group">
    <a data-ng-repeat="tutorial in vm.tutorial" data-ui-sref="admin.tutorial.edit({tutorialId: tutorial._id})" class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span data-ng-bind="tutorial.created | date:'mediumDate'"></span>
        by
        <span ng-if="tutorial.user" ng-bind="tutorial.user.displayName"></span>
        <span ng-if="!tutorial.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" data-ng-bind="tutorial.title"></h4>
      <p class="list-group-item-text" data-ng-bind="tutorial.content"></p>
    </a>
  </div>
  <div class="alert alert-warning text-center" data-ng-if="vm.tutorial.$resolved && !vm.tutorial.length">
    No tutorial yet, why don't you <a data-ui-sref="admin.tutorial.create">create one</a>?
  </div>
</section>
